#calendar .date.today {
    background-color: #4caf50;
    border: 1px solid #fff;
    color: #fff;
    padding: 3px;
    width: 23px;
}

@media(max-width: 768px) {
    #list-btn {
        display: none;
    }
}