/*
* {
    box-sizing: border-box;
}
*/

body {
    background-color: #eee;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:hover.mdl-navigation__link {
    /*  background-color: rgb(226, 226, 226) !important;  */
    background-color: #C8E6C9 !important;
    transition: 0.5s;
}

tr {
    /*font-size: 120%;*/
}

th {
    font-size: 100% !important;
}

.padding-right-20 {
    padding-right: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.logo-report {
    width: 60%;
}

.dl-horizontal dt {
    float: left;
    min-width: 20%;
    text-align: right;
}

.dl-horizontal dd {
    margin: 10px;
    margin-left: 25%;
}

.clearfix {
    overflow: auto;
}

dialog {
    width: 500px !important;
    height: 465px !important;
}

#login {
    min-width: 300px;
    margin: auto;
    padding-top: 150px;
}

.text-small {
    font-size: 10px;
}

.text-green {
    color: #4caf50;
}


/* --------------- MDL --------------- */

.demo-content {
    padding-top: 20px;
}

.mdl-button--red {
    color: orangered;
}

/* --------------- stepper --------------- */

ul.mdl-stepper.mdl-stepper--horizontal {
    max-width: 100%;
    margin-top: 0;
}

.mdl-step__content {
    height: auto !important;
}


/* --------------- UIKit --------------- */

.uk-button-green {
    color: #fff;
    background-color: #4caf50;
}

.uk-text-green {
    color: #4caf50;
}

.uk-breadcrumb {
    padding: 5px 15px;
    list-style: none;
    background-color: #eee;
    width: 100%;
    border-radius: 5px;
}

.uk-radio[type=radio]:checked {
    background-color: #4caf50;
}

label .uk-radio[type=radio]:disabled {}

.uk-checkbox[type=checkbox]:checked {
    background-color: #4caf50;
}


/**/